<div class="title-view">
  <div class="title-space">
    <div class="title-left">
      <%= image_tag 'image0.png', width: "300px", height: "120px" %>
    </div>
    <div class="main-title">
      <strong>Kids Chat</strong>
    </div>
    <div class="title-right">
      <%= image_tag 'image0.png', width: "300px", height: "120px" %>
    </div>
  </div>
</div>