<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar"%>
  </div>

  <div class='right-space'>
    <div class='sample1234'>
      <%= image_tag 'image0.png', width: "300px", height: "120px" %>
    </div>
  </div>
</div>